/* Navbar */

.navbar {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: "Viga", sans-serif;
  font-size: 32px;
}

/* Utility */
.button-round {
  text-transform: uppercase;
  border-radius: 40px;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron2-bg.jpg);
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
  opacity: 0.9;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
}

.jumbotron .container .display-4 {
  color: white;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgbe(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 30px;
}

.jumbotron .container span {
  font-weight: 500;
}

/* Panel Info */
.panel-info {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -50px;
  padding: 30px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.panel-info img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.panel-info h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 7px;
}

.panel-info p {
  font-size: 14px;
  color: #acacac;
  margin-top: -5px;
  font-weight: 200px;
}

/* Working Space */
.workingspace {
  margin-top: 120px;
  text-align: center;
}

.workingspace h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight:500 ;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    margin : 25px 0;
}

.testimonials {
    margin-top: 100px;
}

.testimonials h5 {
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  font-style: italic;
}

.testimonials figure img {
  width: 60px;
  margin-top: 20px;
  margin: 20px 15px 10px;
  opacity: 0.5;
}

.testimonials figure img.main {
  width: 90px;
  margin-top: 5px;
  margin: 20px 15px 10px;
  opacity: 1;
  margin-top: 10px;
}

.testimonials figure h5 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color : #1c2c5d;
}

.testimonials figure span {
  font-size: 12px;
  color : #acacac;
  margin-top: -10px;
}

.testimonials figcaption {
  text-align: center;
}

.footer p {
  color: #acacac;
  font-size: 18px;
  margin-top: 50px;
}

/* Media Queries */
/* DESKTOP */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .container .display-4 {
    font-size: 62px;
  }
/* 
  .workingspace img {
    margin-left: 250px;
  } */

  .workingspace {
    text-align: left;
  }

  .testimonials h5 {
    text-align: center;
    font-weight: 200;
    font-size: 32px;
    font-style: italic;
  }
}
